* {
    box-sizing: inherit;
    margin: 0%;
    padding: 0%;
   
}


.Navbar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: .2rem;
   
    opacity: 90%;
    background-color: #d82121;
width: 100%;

}

.loginTemplate,
.registerTemplate, .create-routine,.edit-routine-activity, .edit-routine-div {

  width: 50%;

    display: flex;
    flex-direction: column;
   
    padding-top: 2%;
    align-items: center;
    padding: 3rem 2rem;
    margin: 1% 25%;
    border-radius: 1rem;
    background-color: #ecf0f3;
    box-shadow: 13px 30px 20px #cbced1,
        -13px -13px 20px #fff;

}

.activities-main-div,.main-div-routines{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   justify-content: space-around;


}

.activities-inner-div, .routines-inner-div{


    
   
    padding: 3rem 2rem;
    margin: 10% 5%;
    border-radius: 1rem;
    background-color: #ecf0f3;
    box-shadow: 13px 30px 20px #cbced1,
        -13px -13px 20px #fff;

}
.routine-by-div {
    display: flex;
    flex-direction: row;
 
   justify-content:center;


}

.routine-by-inner-div{
   
    padding: 3rem 2rem;
    margin: 10% 5%;
    border-radius: 1rem;
    background-color: #ecf0f3;
    box-shadow: 13px 30px 20px #cbced1,
        -13px -13px 20px #fff;
}

@media only screen and (max-width: 600px)  {
    .routine-by-div {
        display: flex;
        flex-direction: row;
     flex-wrap: wrap;
       justify-content:center;
    
    
    }
   

}



.create-routine , .edit-routine, .create-activity,.edit-routine-activity{
    display: flex;
    flex-direction: column;
    
    padding: 3rem 2rem;
    margin: 1% 35%;
    border-radius: 1rem;
    background-color: #ecf0f3;
    box-shadow: 13px 30px 20px #cbced1,
        -13px -13px 20px #fff;
}


.activity-box{
    display: flex;
    flex-direction: column;
   justify-content: center;
    margin: 2%;
 padding: 10%;
    border-radius: 1rem;
    background-color: #ecf0f3;
    box-shadow: 13px 30px 20px #cbced1,
        -13px -13px 20px #fff;
}